<h1>My Blocmarks</h1>
<p>
  <% @topics.each do |topic| %>
    <p><%= topic.title %></p>
    <% topic.bookmarks.each do |bookmark| %>
      <ul>
        <li>
          <%= bookmark.url %><br />
          [<%= link_to "Delete", users_show_path(bookmark), data: { confirm: "Are you sure?" } %>]
        </li>
      </ul>
    <% end %>
  <% end %>
</p>

<h1>Liked Bookmarks</h1>
  <% @topics.each do |topic| %>
    <p><%= topic.title %></p>
    <% topic.bookmarks.each do |bookmark| %>
      <ul>
        <% unless current_user.liked(bookmark) %>
          <li><%= bookmark.url %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
<p>