<!DOCTYPE html>
<html>
  <head>
    <title>Blocmarks</title>
    
    <!-- Blocmarks - Intro -->
    <meta name="viewpoort" content="width=device-width, initial-scale=1" />
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  
  <body>
    <!-- Blocmarks - Intro -->
    <div class="container">
      <ul class="nav nav-tabs">
        <li><%= link_to "Welcome", welcome_index_path %></li>
        <li><%= link_to "About", welcome_about_path %></li>
        
        <!-- Blocmarks - User Sign Up feature -->
        <li><%= link_to "Sign In", user_session_path %></li>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
      </ul>

      <%= yield %>
    </div>
  </body>
</html>